# Production environment variables
SPRING_PROFILES_ACTIVE=prod
DB_URL=jdbc:postgresql://your-production-db:5432/jarihana
DB_USERNAME=your-production-username
DB_PASSWORD=your-production-password
ACCESS_TOKEN_SECRET=your-production-access-token-secret
REFRESH_TOKEN_SECRET=your-production-refresh-token-secret
